<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.demo.commons.mapper.TbMapper">
  <resultMap id="BaseResultMap" type="com.whut.demo.commons.domain.Tb">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="no" jdbcType="INTEGER" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>